html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainSection {
   /* border: 1px solid green;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 16px 0;
}

.filmSection {
    flex-basis: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 16px gray;
    padding: 16px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.filmSection:hover {
    transform: scale3d(1.02, 1.02, 1.02);
}

.posterSection {
   /* border: 1px solid green;*/
    grid-column-start: 1;
    grid-column-end: 2;
}
.nameSection {
    grid-column-start: 2;
    grid-column-end: 3;
   /* border: 1px solid red;*/
    margin-left: 8px;
}
.infoSection {
   /* border: 1px solid green;*/
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 4px;
}

.btnDetailsSection {
   /* border: 1px solid red;*/
    grid-column-start: 1;
    grid-column-end: 3;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btnDetailsSection .btn.btn-primary, .btnDetailsSection .btn.btn-info, .btnDetailsSection .btn.btn-danger {
    flex-basis: 30%;
    width: 100%;
    margin: auto;
}

.divBtnsDelete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px gray;
}

.nameDiv {    
    font-weight: 100;
    font-size: 20px;
    color: #3d3d3d;
}

.yearDiv, .genreDiv {
    font-weight: 200;
    font-size: 16px;
    color: #757474;
}

.directorDiv, .actorsDiv {
    font-weight: 100;
    font-size: 16px;
    color: #757474;
}

.descriptionDiv {
    font-weight: 100;
    font-size: 16px;
    color: #3d3d3d;
}

.filmDetails {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 0 16px gray;
    padding: 16px;
}

.posterDetails {
    width: 30%;
}
.infoDetails {
    width: 68%;
    text-align: left;
    margin-left: 16px;
}

.infoDetails .btn.btn-info{
    width: 30%;
}

.divBtnsDelete .btn.btn-danger, .divBtnsDelete .btn.btn-primary{
    margin: 0 8px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

.sectionForm {
    border-radius: 8px;
    box-shadow: 0 0 16px gray;
    padding: 16px;
    margin: 16px;
    text-align: left;
}

.sectionForm div{
    margin: 16px;
}

.container {
    text-align: center;
}

.container-fluid {
    width: 80%;
}
